<!DOCTYPE html>
<html lang="en">
@using Resources
@model  CourierServiceApp.Models.MenuItemModel
@{
    Layout = null;
    var culture = System.Threading.Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant();
}
@helper selected(string c, string culture)
{
    if (c == culture)
    {
        @:checked="checked"
    }
}


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Main Menu</title>
    <!-- Bootstrap -->
    <link href="/Content/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/Content/assets/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/Content/assets/css/bootstrap.vertical-tabs.css">
    <link rel="stylesheet" href="/Content/packages/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="/Content/packages/touchspin/jquery.bootstrap-touchspin.css">
    <link rel="stylesheet" href="/Content/packages/jasny/css/jasny-bootstrap.min.css">
    <link href="/Content/assets/css/styles.css" rel="stylesheet">
</head>

<body>
    <div class="navmenu navmenu-inverse navmenu-fixed-left offcanvas">
        <!-- start logo -->
        <div class="brand-offcanvas">
            <a href="/Home">UDS</a>
        </div>
        <!-- end logo -->
        <!-- start navigation -->
        <ul class="nav navmenu-nav">
            <!-- start menu item -->
            <li>
                <a href="@Url.Action("Index", "OrderCreate")">@Resources.SendAParcel</a>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">@Resources.OurServices<b class="caret pull-right"></b></a>
                <ul class="dropdown-menu navmenu-nav">
                    <li>
                        <a href="@Url.Action("Details", "Home")">@Resources.DeliveryDetailsLower</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Contact", "Home")">@Resources.ContactUs</a>
                    </li>
                    <li>
                        <a href="@Url.Action("About", "Home")">@Resources.AboutUs</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="">@Resources.Help</a>
            </li>
            <!-- end menu item -->
            <!-- start menu item -->
            <li class="dropdown">
                <a href="@Url.Action("Index", "UserProfile")" class="dropdown-toggle" data-toggle="dropdown">@Resources.MyAccount<b class="caret pull-right"></b></a>
                <ul class="dropdown-menu navmenu-nav" role="menu">
                    <li>
                        <a href="@Url.Action("Login", "Account")">@Resources.Login</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Register", "Account")">@Resources.Signup</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "UserProfile")">@Resources.UserProfile</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "OrderHistory")">@Resources.OrderHistory</a>
                    </li>
                </ul>
            </li>
            <!-- end menu item -->
        </ul>
        <!-- end navigation -->
    </div>
    <!-- end slide menu -->
    <!-- start mobile navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top visible-xs-block">

        <button type="button" class="navbar-toggle pull-left" data-toggle="offcanvas" data-target=".navmenu" data-canvas="body" style="margin-left: 20px;">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <!-- end mobile navbar -->
    <!-- start main navbar -->
    <div class="navbar navbar-sellstrap visible-md-block visible-lg-block visible-sm-block" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <!-- logo -->
                <a class="navbar-brand" href="/Home">UDS</a>
                <!-- end logo -->
            </div>
            <div class="navbar-full form-group">
                <!-- start nav menu -->
                <ul class="nav navbar-nav">
                    <li>
                        <a href="@Url.Action("Index", "OrderCreate")" class="dropdown-toggle">@Resources.SendAParcel</a>
                    </li>
                    <!-- start menu item -->
                    <li class="dropdown">
                        <a href="@Url.Action("About", "Home")" class="dropdown-toggle">@Resources.OurServices</a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="@Url.Action("Details", "Home")">@Resources.DeliveryDetailsLower</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Contact", "Home")">@Resources.ContactUs</a>
                            </li>
                            <li>
                                <a href="@Url.Action("About", "Home")">@Resources.AboutUs</a>
                            </li>
                        </ul>
                    </li>
                    <!-- end menu item -->
                    <li>
                        <a href="" class="dropdown-toggle">@Resources.Help</a>
                    </li>
                </ul>
                <!-- end nav menu -->
                <!-- start user menu -->
                <ul class="nav navbar-nav navbar-right">
                    <!-- start menu item -->
                    <li class="dropdown">
                        <a href="@Url.Action("Index", "UserProfile")" class="dropdown-toggle">@Resources.MyAccount</a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="@Url.Action("Login", "Account")">@Resources.Login</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Register", "Account")">@Resources.Signup</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "UserProfile")">@Resources.UserProfile</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "OrderHistory")">@Resources.OrderHistory</a>
                            </li>
                        </ul>
                    </li>
                    <!-- end menu item -->
                </ul>
                <!-- end user menu -->
            </div>
            <!--/.nav-collapse -->
            @using (Html.BeginForm("SetCulture", Model.currentController))
            {
                <fieldset>
                    <div class="control-group navbar-right col-md-offset-4">
                        <div class="controls ">
                            <label for="en-us">
                                <input name="culture" id="en-us" value="en-us" onclick="submitForm(this)" type="radio" @selected("en-us", culture) /> ENG
                            </label>
                            <label for="uk">
                                <input name="culture" id="uk" value="uk" onclick="submitForm(this)" type="radio" @selected("uk", culture) /> УКР
                            </label>
                        </div>
                    </div>
                </fieldset>
            }
        </div>
        <!--/.container-fluid -->
    </div>
    <!-- end navbar -->
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/Content/assets/js/bootstrap.min.js"></script>
    <script src="/Content/packages/jssor/js/jssor.js"></script>
    <script src="/Content/packages/jssor/js/jssor.slider.js"></script>
    <script src="/Content/packages/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="/Content/packages/iCheck/icheck.js"></script>
    <script src="/Content/packages/multirowselect/multirowselect.js"></script>
    <script src="/Content/packages/ion.rangeslider/js/ion.rangeSlider.js"></script>
    <script src="/Content/packages/elevatezoom/jquery.elevatezoom.js"></script>
    <script src="/Content/packages/touchspin/jquery.bootstrap-touchspin.js"></script>
    <script src="/Content/packages/jasny/js/jasny-bootstrap.js"></script>
    <script src="/Content/assets/js/app.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/functions.js"></script>

    <script>

        function submitForm(element) {
            $(element).parents("form").submit();  //apply by posting
            //highlight selected language
            $("input[type='radio']:checked").next().css("font-weight", "bold");
        }

        jQuery(document).ready(function ($) {

            var _CaptionTransitions = [];
            _CaptionTransitions["L"] = {
                $Duration: 900,
                x: 0.6,
                $Easing: {
                    $Left: $JssorEasing$.$EaseInOutSine
                },
                $Opacity: 2
            };
            _CaptionTransitions["R"] = {
                $Duration: 900,
                x: -0.6,
                $Easing: {
                    $Left: $JssorEasing$.$EaseInOutSine
                },
                $Opacity: 2
            };
            _CaptionTransitions["T"] = {
                $Duration: 900,
                y: 0.6,
                $Easing: {
                    $Top: $JssorEasing$.$EaseInOutSine
                },
                $Opacity: 2
            };
            _CaptionTransitions["B"] = {
                $Duration: 900,
                y: -0.6,
                $Easing: {
                    $Top: $JssorEasing$.$EaseInOutSine
                },
                $Opacity: 2
            };
            _CaptionTransitions["ZMF|10"] = {
                $Duration: 900,
                $Zoom: 11,
                $Easing: {
                    $Zoom: $JssorEasing$.$EaseOutQuad,
                    $Opacity: $JssorEasing$.$EaseLinear
                },
                $Opacity: 2
            };
            _CaptionTransitions["RTT|10"] = {
                $Duration: 900,
                $Zoom: 11,
                $Rotate: 1,
                $Easing: {
                    $Zoom: $JssorEasing$.$EaseOutQuad,
                    $Opacity: $JssorEasing$.$EaseLinear,
                    $Rotate: $JssorEasing$.$EaseInExpo
                },
                $Opacity: 2,
                $Round: {
                    $Rotate: 0.8
                }
            };
            _CaptionTransitions["RTT|2"] = {
                $Duration: 900,
                $Zoom: 3,
                $Rotate: 1,
                $Easing: {
                    $Zoom: $JssorEasing$.$EaseInQuad,
                    $Opacity: $JssorEasing$.$EaseLinear,
                    $Rotate: $JssorEasing$.$EaseInQuad
                },
                $Opacity: 2,
                $Round: {
                    $Rotate: 0.5
                }
            };
            _CaptionTransitions["RTTL|BR"] = {
                $Duration: 900,
                x: -0.6,
                y: -0.6,
                $Zoom: 11,
                $Rotate: 1,
                $Easing: {
                    $Left: $JssorEasing$.$EaseInCubic,
                    $Top: $JssorEasing$.$EaseInCubic,
                    $Zoom: $JssorEasing$.$EaseInCubic,
                    $Opacity: $JssorEasing$.$EaseLinear,
                    $Rotate: $JssorEasing$.$EaseInCubic
                },
                $Opacity: 2,
                $Round: {
                    $Rotate: 0.8
                }
            };
            _CaptionTransitions["CLIP|LR"] = {
                $Duration: 900,
                $Clip: 15,
                $Easing: {
                    $Clip: $JssorEasing$.$EaseInOutCubic
                },
                $Opacity: 2
            };
            _CaptionTransitions["MCLIP|L"] = {
                $Duration: 900,
                $Clip: 1,
                $Move: true,
                $Easing: {
                    $Clip: $JssorEasing$.$EaseInOutCubic
                }
            };
            _CaptionTransitions["MCLIP|R"] = {
                $Duration: 900,
                $Clip: 2,
                $Move: true,
                $Easing: {
                    $Clip: $JssorEasing$.$EaseInOutCubic
                }
            };

            var options = {
                $FillMode: 2, //[Optional] The way to fill image in slide, 0 stretch, 1 contain (keep aspect ratio and put all inside slide), 2 cover (keep aspect ratio and cover whole slide), 4 actual size, 5 contain for large image, actual size for small image, default value is 0
                $AutoPlay: true, //[Optional] Whether to auto play, to enable slideshow, this option must be set to true, default value is false
                $AutoPlayInterval: 4000, //[Optional] Interval (in milliseconds) to go for next slide since the previous stopped if the slider is auto playing, default value is 3000
                $PauseOnHover: 1, //[Optional] Whether to pause when mouse over if a slider is auto playing, 0 no pause, 1 pause for desktop, 2 pause for touch device, 3 pause for desktop and touch device, 4 freeze for desktop, 8 freeze for touch device, 12 freeze for desktop and touch device, default value is 1

                $ArrowKeyNavigation: true, //[Optional] Allows keyboard (arrow key) navigation or not, default value is false
                $SlideEasing: $JssorEasing$.$EaseOutQuint, //[Optional] Specifies easing for right to left animation, default value is $JssorEasing$.$EaseOutQuad
                $SlideDuration: 800, //[Optional] Specifies default duration (swipe) for slide in milliseconds, default value is 500
                $MinDragOffsetToSlide: 20, //[Optional] Minimum drag offset to trigger slide , default value is 20
                //$SlideWidth: 600,                                 //[Optional] Width of every slide in pixels, default value is width of 'slides' container
                //$SlideHeight: 300,                                //[Optional] Height of every slide in pixels, default value is height of 'slides' container
                $SlideSpacing: 0, //[Optional] Space between each slide in pixels, default value is 0
                $DisplayPieces: 1, //[Optional] Number of pieces to display (the slideshow would be disabled if the value is set to greater than 1), the default value is 1
                $ParkingPosition: 0, //[Optional] The offset position to park slide (this options applys only when slideshow disabled), default value is 0.
                $UISearchMode: 1, //[Optional] The way (0 parellel, 1 recursive, default value is 1) to search UI components (slides container, loading screen, navigator container, arrow navigator container, thumbnail navigator container etc).
                $PlayOrientation: 1, //[Optional] Orientation to play slide (for auto play, navigation), 1 horizental, 2 vertical, 5 horizental reverse, 6 vertical reverse, default value is 1
                $DragOrientation: 1, //[Optional] Orientation to drag slide, 0 no drag, 1 horizental, 2 vertical, 3 either, default value is 1 (Note that the $DragOrientation should be the same as $PlayOrientation when $DisplayPieces is greater than 1, or parking position is not 0)

                $CaptionSliderOptions: { //[Optional] Options which specifies how to animate caption
                    $Class: $JssorCaptionSlider$, //[Required] Class to create instance to animate caption
                    $CaptionTransitions: _CaptionTransitions, //[Required] An array of caption transitions to play caption, see caption transition section at jssor slideshow transition builder
                    $PlayInMode: 1, //[Optional] 0 None (no play), 1 Chain (goes after main slide), 3 Chain Flatten (goes after main slide and flatten all caption animations), default value is 1
                    $PlayOutMode: 3 //[Optional] 0 None (no play), 1 Chain (goes before main slide), 3 Chain Flatten (goes before main slide and flatten all caption animations), default value is 1
                },

                $BulletNavigatorOptions: { //[Optional] Options to specify and enable navigator or not
                    $Class: $JssorBulletNavigator$, //[Required] Class to create navigator instance
                    $ChanceToShow: 2, //[Required] 0 Never, 1 Mouse Over, 2 Always
                    $AutoCenter: 1, //[Optional] Auto center navigator in parent container, 0 None, 1 Horizontal, 2 Vertical, 3 Both, default value is 0
                    $Steps: 1, //[Optional] Steps to go for each navigation request, default value is 1
                    $Lanes: 1, //[Optional] Specify lanes to arrange items, default value is 1
                    $SpacingX: 8, //[Optional] Horizontal space between each item in pixel, default value is 0
                    $SpacingY: 8, //[Optional] Vertical space between each item in pixel, default value is 0
                    $Orientation: 1 //[Optional] The orientation of the navigator, 1 horizontal, 2 vertical, default value is 1
                },

                $ArrowNavigatorOptions: { //[Optional] Options to specify and enable arrow navigator or not
                    $Class: $JssorArrowNavigator$, //[Requried] Class to create arrow navigator instance
                    $ChanceToShow: 2, //[Required] 0 Never, 1 Mouse Over, 2 Always
                    $AutoCenter: 2, //[Optional] Auto center arrows in parent container, 0 No, 1 Horizontal, 2 Vertical, 3 Both, default value is 0
                    $Steps: 1 //[Optional] Steps to go for each navigation request, default value is 1
                }
            };

            var jssor_slider1 = new $JssorSlider$("slider1_container", options);

            //responsive code begin
            //you can remove responsive code if you don't want the slider scales
            //while window resizes
            function ScaleSlider() {
                var parentWidth = $('#slider1_container').parent().width();
                if (parentWidth) {
                    jssor_slider1.$ScaleWidth(parentWidth);
                } else
                    window.setTimeout(ScaleSlider, 30);
            }
            //Scale slider after document ready
            ScaleSlider();
            if (!navigator.userAgent.match(/(iPhone|iPod|iPad|BlackBerry|IEMobile)/)) {
                //Capture window resize event
                $(window).bind('resize', ScaleSlider);
            }
            //responsive code end

        });
    </script>
</body>

</html>

